.content {
    background-image: url("../img/preview16.jpg");
    background-image: no-repeat;
  
    padding: 3rem;
    
  }
  /* common header tab style */
  .headertab_style {
    background-color: var(--themeColor_4);
    color: var(--themeColor_3);
    border-radius: var(--borderRadius);
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  /* header style */
  .header-style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      var(--themeColor_1) 0%,
      var(--themeColor_2) 100%
    );
    text-align: center;
    color: var(--themeColor_3);
  }
  /* navigation style */
  .nav-main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .nav li {
    float: left;
  }
  .nav li a {
    display: block;
    color: var(--themeColor_2);
  
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
  }
  .nav li a:hover {
    background-color: var(--themeColor_4);
    color: var(--themeColor_3);
  }
  /* About me content style */
  .about-me-style {
    display: flex;
    
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0.5rem;
    background-color: var(--themeColor_3);
    color: var(--themeColor_4);
    border-radius: var(--borderRadius);
    margin-bottom: 20px;
    border-style: solid;
    border-width:10 px  ;
    border-color:var(--themeColor_4);
    
  }
  .intro-button
  {
      text-decoration: none;
      cursor: pointer;
     
   
    padding-right: 1rem;
    padding-left: 1rem;
      font-size: .75rem;
      border: none;
      border-radius: 10px;
      background-color: var(--themeColor_2);
      color: var(--themeColor_3);
      box-shadow: 2px 5px 7px var(--themeColor_3);
  }
  .intro-button:hover
  {
      background-color:var(--themeColor_1);
  }
  
  .intro_style {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
  }
  /* Contact me content syle */
  .contact_style {
    margin-left: 1.5rem;
    padding: 1.5rem;
    
  }
  .contact_style ul {
    list-style-type: none;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
  }
  .contact_style ul li img {
    margin-right: 30px;
    width: 35px;
  }
  
  .intro_style ul {
    list-style-type: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
  .intro_style ul li {
    display: inline;
    margin: 20px;
    vertical-align: middle;
  }
  .intro_style ul li img {
    width: 1.5rem;
  }
  .imgclass {
    width: 30%;
   
  }
  .contact-me-style {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0.5rem;
    background-color: var(--themeColor_3);
    color: var(--themeColor_4);
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
    border-style: solid;
    border-width:10 px  ;
    border-color:var(--themeColor_4);
  }
/* Project contet style */
  .my-project-style {
    display: flex;   
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5rem;
    background-color: var(--themeColor_3);
    color: var(--themeColor_4);
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
    border-style: solid;
    border-width:10 px  ;
    border-color:var(--themeColor_4);
  }
  .project_item {
    
    justify-content:space-around;
  }
  .project_body {
    display: flex;
  }
   /* setting image a border and curser point under project section */
  .project_body img {
    width: 80%;
    margin-right: .5rem;
    cursor: pointer;
    border-radius: 10px;
    border-style: solid;
    border-width:10 px  ;
    border-color:var(--themeColor_4);
  }
  /* Blur effect when mouse over on image */
  .project_body img:hover {
      opacity: 0.5;
    }

    /* Making the contact me icon smaller;it looks bigger for the small screen */
  @media screen and (max-width: 700px) {
    .contact_style ul li img {
      margin-right: 20px;
      width: 25px;
    }
  }
  